body {
  letter-spacing: 1px;
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

a, a:hover {
  color: black;
}

#header {
  border-top: 3px solid #447baf;
  position: relative;
}

.header {
  max-width: 960px;
  height: 70px;
  margin: 0 auto;
}

.header-logo {
  float: left;
}

.site-title {
  height: 70px;
  margin: 0;
  padding: 12px 0;
}

.logo {
  width: 250px;
}

.header-nav {
  float: right;
}

.nav-item {
  float: left;
  line-height: 29px;
  text-align: center;
  margin: 20px 0;
}

.nav-item+ .nav-item {
  border-left: 1px solid #7ea7cd;
}

.nav-menu {
  font-size: 1.6rem;
  height: 30px;
  padding: 0 12px;
  vertical-align: middle;
}

.nav-menu:hover {
  text-decoration: none;
  color: #A9A9A9 !important;
  transition: 0.15s;
}


/* main */
#main {
  padding: 15px 0;
  background-image: url("../images/bg-blueline.gif")
}

#main .row {
  max-width: 960px;
  margin: 0 auto;
}

#main .col-sm-6, #main .col-sm-12 {
  padding: 15px;
}

#main .main-wrapper {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 4px;        /* CSS3草案 */
  -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 4px;   /* Firefox用 */
}

#main .main-title {
  font-size: 1.8rem;
  margin-top: 0;
  border-bottom: 1px dotted #7ea7cd;
}

#main .page-title {
  font-size: 1.8rem;
  margin-top: 0;
  border-bottom: 1px dotted #7ea7cd;
}

#main .quotation {
  display: block;
  padding: 1.4rem;
  line-height: 1.7;
  color: #333;
  word-break: break-all;
  word-wrap: normal;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#main .page-description {
  margin: 1.2rem 1rem;
  line-height: 1.7;
}

#main .header-icon {
  height: 28px;
}

#main .description {
  margin: 0 8px;
  line-height: 2.5rem;
}

#main .content-link {
  margin-top: 10px;
  color: #7ea7cd;
  border-bottom: 1px dotted #7ea7cd;
  text-decoration: none;
}

#main .content-link:hover {
  color: #dae6f1;
  transition: 0.15s;
}

#main .emphasis {
  color: #ff7800;
  font-weight: bold;
}

#main .intro-area .sub-title {
  color: #447baf;
  font-size: 1.7rem;
  margin-left: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.coming-soon {
  margin: 15px auto;
}

.home-content-title {
  font-size: 1.6rem;
  margin-top: 1.7rem;
  line-height: 1.6;
}

.home-content-title span {
  border-bottom: 1px dotted #7ea7cd;
}

.home-content-description {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-left: 1.2rem;
}

.home-tel {
  margin-top: 1.2rem;
}

.price-list {
  margin-top: 1.5rem;
}

.notification-description {
  margin: 1.5rem 1.5rem 0 4.5rem;
  line-height: 1.5;
}

.notification {
  position: absolute;
  left: 25px;
  font-weight: bold;
  margin-right: 1.2rem;
}

.schedule {
  float: right;
}

.schedule-img {
  width: 250px;
  margin: 2px 0 0 10px;
}

.sidebar-title {
  color: #447baf;
  font-size: 1.8rem;
  margin-top: 0;
}

.sidebar-tel {
  font-size: 1.7rem;
}

.sidebar-schedule {
  width: 100%;
}

.about-schedule {
}

.map-area {
  padding-top: 0 !important;
}

.to-google-map {
  color: #0000ff;
}

/* footer */
#footer {
  border-top: 1px solid #ebf6f6;
}

.copyright {
  margin-bottom: 0;
  padding: 10px;
  width: 100%;
  color: #98a9a9;
  font-family: Arial, Helvetica;
  font-size: 76%;
  text-align: center;
  clear: both;
}


/* リハビリ・トレーニングマシン */
.item-title {
  font-size: 1.7rem;
  margin-top: 8px;
  line-height: 1.7;
  border-bottom: 1px dotted #7ea7cd;
}

.content-title {
  font-size: 1.6rem;
  margin-top: 8px;
  line-height: 1.6;
}

.content-list {
  margin-left: 20px;
}
